@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

.container {
  margin-inline: auto;
  padding-inline: 2rem;
  max-width:1280px;
}

:root {
  --kardak: #1c3c6d;
  --kardak-hover: #1a345f;
  --soft-blue: #e0e9fa;
  --kardak-dark: #112646;
}

/* custom background class */
.bg-kardak {
  background-color: var(--kardak);
}

.bg-kardak-hover {
  &:hover {
    background-color: var(--kardak-hover);
  }
}

.bg-kardak-dark {
  background-color: var(--kardak-dark);
}

.bg-soft-blue {
  background-color: var(--soft-blue);
}

/* custom text color class */
.text-kardak {
  color: var(--kardak);
}

.text-kardak-hover {
  &:hover {
    color: var(--kardak-hover);
  }
}